<div class="leftPart">
    <div class="naviList">
        <ul>
            <li>
                <a href="/admin/categories" class="rightArrow">Categories <span></span></a>
            </li>
            <li>
                <a href="/admin/products" class="rightArrow">Products <span></span></a>
            </li>
            <li>
                <a href="/admin/orders" class="rightArrow">Orders <span></span></a>
            </li>
        </ul>
    </div>
</div>
